node_modules
.next
.git
.gitignore
npm-debug.log*
*.log
.env
.env.*
!.env.example
README.md
CHANGELOG.md
data/media/*
AuthSesi
A-TSUKASA-REWORK-ESM_FIX_ADEXTERNAL+JPM
marketing
.vscode
.idea
*.tsbuildinfo
Dockerfile
.dockerignore
